﻿

<div class="container">

    <!-- Modal -->
    <div class="modal" id="addApartmentModal" role="dialog">
        <div class="modal-dialog">
            <form name="addForm" role="form" ng-submit="addApartment()" novalidate>
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header custom-model-header" >
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="fa fa-plus-square"></span> Add a new apartment</h4>
                    </div>

                    <div class="modal-body">

                        <div class="form-group" ng-class="{ 'has-error has-feedback' : addForm.ApartmentNo.$invalid && (addForm.ApartmentNo.$dirty || submitted), 'has-success has-feedback': addForm.ApartmentNo.$dirty && addForm.ApartmentNo.$valid }">
                            <label for="ApartmentNo">Apartment No</label>
                            <input type="text" class="form-control" id="ApartmentNo" name="ApartmentNo" numbers-only="numbers-only" ng-maxlength="2" placeholder="Apartment No" ng-required="true" ng-model="form.ApartmentNo">
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="addForm.ApartmentNo.$error.required && (!addForm.ApartmentNo.$pristine || submitted)"></span>
                            <span class="glyphicon  help-block" ng-show="addForm.ApartmentNo.$error.required && (!addForm.ApartmentNo.$pristine || submitted)">Apartment No is required.</span>
                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" ng-show="addForm.ApartmentNo.$valid && (addForm.ApartmentNo.$dirty || submitted)"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="addForm.ApartmentNo.$error.maxlength && (!addForm.ApartmentNo.$pristine || submitted)"></span>
                            <span class="glyphicon help-block" ng-show="addForm.ApartmentNo.$error.maxlength && (!addForm.ApartmentNo.$pristine || submitted)">Apartment No cannot be more than 2 digits</span>
                        </div>

                        @*<div ng-messages="form1.ApartmentNo.$error ">
                                <div   ng-show="(form1.ApartmentNo.$dirty || submitted)" ng-message="required"><p class="help-block">The name is dadrequired.</p></div>
                            </div>*@

                        @*<div class="form-group">
                            <input name="email" ng-model="email" id="eml" type="text" ng-pattern="eml_add" ng-required="true" autocomplete="off" placeholder="Email" class="form-control">*@
                        @*<span class="red-text" ng-show="inquiryForm.email.$error.pattern">Invalid Email</span>*@


                        <div class="form-group" ng-class="{ 'has-error has-feedback' : addForm.FloorNo.$invalid && (addForm.FloorNo.$dirty || submitted), 'has-success has-feedback': addForm.FloorNo.$dirty && addForm.FloorNo.$valid }">
                            <label for="FloorNo">Floor No</label>
                            <input type="text" class="form-control" id="FloorNo" name="FloorNo" numbers-only="numbers-only" placeholder="Floor No" ng-maxlength="2" ng-model="form.FloorNo">
                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" ng-show="addForm.FloorNo.$valid && (addForm.FloorNo.$dirty || submitted)"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="addForm.FloorNo.$error.maxlength && (!addForm.FloorNo.$pristine || submitted)"></span>
                            <span class="glyphicon help-block" ng-show="addForm.FloorNo.$error.maxlength && (!addForm.FloorNo.$pristine || submitted)">Floor No cannot be more than 2 digits</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error has-feedback' : addForm.NoOfBedrooms.$invalid && (addForm.NoOfBedrooms.$dirty || submitted), 'has-success has-feedback': addForm.NoOfBedrooms.$dirty && addForm.NoOfBedrooms.$valid }">
                            <label for="NoOfBedrooms">No Of Bedrooms</label>
                            <input type="text" class="form-control" id="NoOfBedrooms" name="NoOfBedrooms" placeholder="No Of Bedrooms" ng-maxlength="2" numbers-only="numbers-only" ng-model="form.NoOfBedrooms">
                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" ng-show="addForm.NoOfBedrooms.$valid && (addForm.NoOfBedrooms.$dirty || submitted)"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="addForm.NoOfBedrooms.$error.maxlength && (!addForm.NoOfBedrooms.$pristine || submitted)"></span>
                            <span class="glyphicon help-block" ng-show="addForm.NoOfBedrooms.$error.maxlength && (!addForm.NoOfBedrooms.$pristine || submitted)">No of Bedrooms cannot be more than 1 digits</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error has-feedback' : addForm.ParkingSpaceNo.$invalid && (addForm.ParkingSpaceNo.$dirty || submitted), 'has-success has-feedback': addForm.ParkingSpaceNo.$dirty && addForm.ParkingSpaceNo.$valid }">
                            <label for="ParkingSpaceNo2">Parking Space No</label>
                            <input type="text" class="form-control" id="ParkingSpaceNo" name="ParkingSpaceNo" placeholder="Parking Space No" ng-maxlength="2" numbers-only="numbers-only" ng-required="true" ng-model="form.ParkingSpaceNo">
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="addForm.ParkingSpaceNo.$error.required && (!addForm.ParkingSpaceNo.$pristine || submitted)"></span>
                            <span class="glyphicon  help-block" ng-show="addForm.ParkingSpaceNo.$error.required && (!addForm.ParkingSpaceNo.$pristine || submitted)">Parking Space No is required</span>
                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" ng-show="addForm.ParkingSpaceNo.$valid && (addForm.ParkingSpaceNo.$dirty || submitted)"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="addForm.ParkingSpaceNo.$error.maxlength && (!addForm.ParkingSpaceNo.$pristine || submitted)"></span>
                            <span class="glyphicon help-block" ng-show="addForm.ParkingSpaceNo.$error.maxlength && (!addForm.ParkingSpaceNo.$pristine || submitted)">Parking Space No cannot be more than 2 digits</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error  has-feedback' : addForm.ParkingSpaceNo2.$invalid && (addForm.ParkingSpaceNo2.$dirty || submitted), 'has-success has-feedback': addForm.ParkingSpaceNo2.$dirty && addForm.ParkingSpaceNo2.$valid }">
                            <label for="ParkingSpaceNo2">Parking Space No 2</label>
                            <input type="text" class="form-control" id="ParkingSpaceNo2" name="ParkingSpaceNo2" placeholder="Parking Space No 2" ng-maxlength="2" numbers-only="numbers-only" ng-required="false" ng-model="form.ParkingSpaceNo2">
                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" ng-show="addForm.ParkingSpaceNo2.$valid && (addForm.ParkingSpaceNo2.$dirty || submitted)"></span>
                           
                             <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="addForm.ParkingSpaceNo2.$error.maxlength && (!addForm.ParkingSpaceNo2.$pristine || submitted)"></span>
                            <span class="glyphicon help-block" ng-show="addForm.ParkingSpaceNo2.$error.maxlength && (!addForm.ParkingSpaceNo2.$pristine || submitted)">Parking Space No cannot be more than 2 digits</span>
                        </div>

                        <div class="form-group">
                            <label for="dropdownCategory">Apartment Type</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" name="dropdownApartmentType" id="dropdownApartmentType" data-toggle="dropdown" ng-required="true" aria-haspopup="true" aria-expanded="false">
                                    {{selectedApartmentType}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a ng-repeat="item in apartmenttypes" ng-click="apartmenttypeselected(item)" class="dropdown-item" href="#">{{item.Name}}</a></li>
                                </ul>
                            </div>
                            <span ng-show="selectedApartmentTypeId == -1 && (submitted)" class="help-block">Apartment Type is required.</span>
                        </div>

                        <div class="form-group">
                            <label for="note">Note</label>
                            <textarea class="form-control" id="note" ng-model="form.Note" rows="3"></textarea>
                        </div>

                        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                            <span ng-bind-html="alert.msg"></span>
                        </alert>

                        <div ng-show="saveFooterVisible" class="modal-footer">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                <button type="submit" class="btn btn-success  btn-primary .navbar-right"><span class="glyphicon glyphicon-off"></span> Save</button>
                            </div>
                        </div>

                        <div ng-hide="saveFooterVisible" class="modal-footer">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>