﻿


<div class="container">

    <!-- Modal -->
    <div class="modal " id="editApartmentModal" role="dialog">
        <div class="modal-dialog">

            <form  name="editForm" role="form" ng-submit="updateApartment()" novalidate>
                <!-- Modal content-->

                <div class="modal-content">

                    <div class="modal-header custom-model-header" >
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-file"></span> Edit apartment details</h4>
                    </div>

                    <div class="modal-body">

                        <div class="form-group" ng-class="{ 'has-error has-feedback' : editForm.ApartmentNo.$invalid && (editForm.ApartmentNo.$dirty || submitted), 'has-success has-feedback': editForm.ApartmentNo.$dirty && editForm.ApartmentNo.$valid }">
                            <label for="ApartmentNo">Apartment No</label>
                            <input type="text" class="form-control" id="ApartmentNo" name="ApartmentNo" numbers-only="numbers-only" ng-maxlength="2" placeholder="Apartment No" ng-required="true" ng-model="formEdit.ApartmentNo">
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="editForm.ApartmentNo.$error.required && (!editForm.ApartmentNo.$pristine || submitted)"></span>
                            <span class="glyphicon  help-block" ng-show="editForm.ApartmentNo.$error.required && (!editForm.ApartmentNo.$pristine || submitted)">Apartment No is required.</span>
                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" ng-show="editForm.ApartmentNo.$valid && (editForm.ApartmentNo.$dirty || submitted)"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="editForm.ApartmentNo.$error.maxlength && (!editForm.ApartmentNo.$pristine || submitted)"></span>
                            <span class="glyphicon help-block" ng-show="editForm.ApartmentNo.$error.maxlength && (!editForm.ApartmentNo.$pristine || submitted)">Apartment No cannot be more than 2 digits</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error has-feedback' : editForm.FloorNo.$invalid && (editForm.FloorNo.$dirty || submitted), 'has-success has-feedback': editForm.FloorNo.$dirty && editForm.FloorNo.$valid }">
                            <label for="FloorNo">Floor No</label>
                            <input type="text" class="form-control" id="FloorNo" name="FloorNo" numbers-only="numbers-only" placeholder="Floor No" ng-maxlength="2" ng-model="formEdit.FloorNo">
                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" ng-show="editForm.FloorNo.$valid && (editForm.FloorNo.$dirty || submitted)"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="editForm.FloorNo.$error.maxlength && (!editForm.FloorNo.$pristine || submitted)"></span>
                            <span class="glyphicon help-block" ng-show="editForm.FloorNo.$error.maxlength && (!editForm.FloorNo.$pristine || submitted)">Floor No cannot be more than 2 digits</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error has-feedback' : editForm.NoOfBedrooms.$invalid && (editForm.NoOfBedrooms.$dirty || submitted), 'has-success has-feedback': editForm.NoOfBedrooms.$dirty && editForm.NoOfBedrooms.$valid }">
                            <label for="NoOfBedrooms">No Of Bedrooms</label>
                            <input type="text" class="form-control" id="NoOfBedrooms" name="NoOfBedrooms" placeholder="No Of Bedrooms" ng-maxlength="2" numbers-only="numbers-only" ng-model="formEdit.NoOfBedrooms">
                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" ng-show="editForm.NoOfBedrooms.$valid && (editForm.NoOfBedrooms.$dirty || submitted)"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="editForm.NoOfBedrooms.$error.maxlength && (!editForm.NoOfBedrooms.$pristine || submitted)"></span>
                            <span class="glyphicon help-block" ng-show="editForm.NoOfBedrooms.$error.maxlength && (!editForm.NoOfBedrooms.$pristine || submitted)">No of Bedrooms cannot be more than 1 digits</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error has-feedback' : editForm.ParkingSpaceNo.$invalid && (editForm.ParkingSpaceNo.$dirty || submitted), 'has-success has-feedback': editForm.ParkingSpaceNo.$dirty && editForm.ParkingSpaceNo.$valid }">
                            <label for="ParkingSpaceNo2">Parking Space No</label>
                            <input type="text" class="form-control" id="ParkingSpaceNo" name="ParkingSpaceNo" placeholder="Parking Space No" ng-maxlength="2" numbers-only="numbers-only" ng-required="true" ng-model="formEdit.ParkingSpaceNo">
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="editForm.ParkingSpaceNo.$error.required && (!editForm.ParkingSpaceNo.$pristine || submitted)"></span>
                            <span class="glyphicon  help-block" ng-show="editForm.ParkingSpaceNo.$error.required && (!editForm.ParkingSpaceNo.$pristine || submitted)">Parking Space No is required</span>
                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" ng-show="editForm.ParkingSpaceNo.$valid && (editForm.ParkingSpaceNo.$dirty || submitted)"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="editForm.ParkingSpaceNo.$error.maxlength && (!editForm.ParkingSpaceNo.$pristine || submitted)"></span>
                            <span class="glyphicon help-block" ng-show="editForm.ParkingSpaceNo.$error.maxlength && (!editForm.ParkingSpaceNo.$pristine || submitted)">Parking Space No cannot be more than 2 digits</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error  has-feedback' : editForm.ParkingSpaceNo2.$invalid && (editForm.ParkingSpaceNo2.$dirty || submitted), 'has-success has-feedback': editForm.ParkingSpaceNo2.$dirty && editForm.ParkingSpaceNo2.$valid }">
                            <label for="ParkingSpaceNo2">Parking Space No 2</label>
                            <input type="text" class="form-control" id="ParkingSpaceNo2" name="ParkingSpaceNo2" placeholder="Parking Space No 2" ng-maxlength="2" numbers-only="numbers-only" ng-required="false" ng-model="formEdit.ParkingSpaceNo2">
                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" ng-show="editForm.ParkingSpaceNo2.$valid && (editForm.ParkingSpaceNo2.$dirty || submitted)"></span>

                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" ng-show="editForm.ParkingSpaceNo2.$error.maxlength && (!editForm.ParkingSpaceNo2.$pristine || submitted)"></span>
                            <span class="glyphicon help-block" ng-show="editForm.ParkingSpaceNo2.$error.maxlength && (!editForm.ParkingSpaceNo2.$pristine || submitted)">Parking Space No cannot be more than 2 digits</span>
                        </div>


                        <div class="form-group">
                            <label for="dropdownCategory">Apartment Type</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" name="dropdownApartmentType" id="dropdownApartmentType" data-toggle="dropdown" ng-required="true" aria-haspopup="true" aria-expanded="false">
                                    {{selectedApartmentType}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a ng-repeat="item in apartmenttypes" ng-click="apartmenttypeselected(item)" class="dropdown-item" href="#">{{item.Name}}</a></li>
                                </ul>
                            </div>
                            <span ng-show="selectedApartmentTypeId == -1 && (submitted)" class="help-block">Apartment Type is required.</span>
                        </div>

                        <div class="form-group">
                            <label for="note">Note</label>
                            <textarea class="form-control" id="note" ng-model="formEdit.Note" rows="3"></textarea>
                        </div>

                        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                            <span ng-bind-html="alert.msg"></span>
                        </alert>

                        <div ng-show="saveFooterVisible" class="modal-footer">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                <button type="submit" class="btn btn-success  btn-primary .navbar-right"><span class="glyphicon glyphicon-off"></span> Save</button>
                            </div>
                        </div>

                        <div ng-hide="saveFooterVisible" class="modal-footer">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>