﻿
@{
    ViewBag.Title = "Index";
}


    <div ng-controller="ApartmentController">
  
        <div id="result"> @Html.Partial("~/Views/Apartment/_AddApartment.cshtml")</div>
        <div id="result"> @Html.Partial("~/Views/Apartment/_EditApartment.cshtml")</div>
        <div id="result"> @Html.Partial("~/Views/Apartment/_ConfirmApartment.cshtml")</div>

        <div>
            <div class="jumbotron custom-page-jumbotron-header">
                <div class="col-sm-12 ">
                    <div class="text-left">
                        <h4><span class="fa fa-key"></span> Apartments<button type="button" class="btn btn-info btn-xs" style="float:right" ng-click="addApartmentClicked()" id="btnAddFilm">Add Apartment <span class="fa fa-plus-square"></span></button></h4>
                    </div>
                </div>
            </div>
        </div>

        <div ui-grid="apartmentGridOptions" id="apartmentGrid" ui-grid-pagination style="height:70vh; width:95vw;"
             ui-grid-resize-columns
             ui-grid-move-columns
             ui-grid-exporter
             ui-grid-selection
             ui-grid-pinning>
        </div>

        <br /><br />
    </div>


@section scripts {
     
    <script src="~/app/controller/apartmentcontroller.js"></script>
    <script src="~/app/services/apartmentservice.js"></script>
    <script src="~/app/services/apartmenttypeservice.js"></script>
}