﻿
@{
    ViewBag.Title = "Index";
}

<div ng-controller="LandlordController">

    <div id="result"> @Html.Partial("~/Views/Landlord/_AddLandlord.cshtml")</div>
    <div id="result"> @Html.Partial("~/Views/Landlord/_EditLandlord.cshtml")</div>
    <div id="result"> @Html.Partial("~/Views/Landlord/_ConfirmLandlord.cshtml")</div>

    <div>
        <div class="jumbotron custom-page-jumbotron-header">
            <div class="col-sm-12 ">
                <div class="text-left">
                    <h4><span class="fa fa-user"></span> Landlords<button type="button" class="btn btn-info btn-xs" style="float:right" ng-click="addLandlordClicked()" id="btnAddFilm">New Landlord <span class="fa fa-plus-square"></span></button></h4>
                </div>
            </div>
        </div>
    </div>

    <div ui-grid="landlordGridOptions" id="landlordGrid" ui-grid-pagination style="height:70vh; width:95vw;"
         ui-grid-resize-columns
         ui-grid-move-columns
         ui-grid-exporter
         ui-grid-selection
         ui-grid-pinning>
    </div>

</div>

@section scripts {
    <script src="~/app/controller/landlordcontroller.js"></script>
    <script src="~/app/services/landlordservice.js"></script>
}