﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WHMC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="~/Content/mg/package/angular-ui/grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-colorselector.min.css" rel="stylesheet" />

</head>
<body class="ng-cloak" ng-app="myapp">
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WHMC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Index" id="menu-toggle" style="float:right;">
                            <span class="fa fa-home" style="font-size:20px !Important;" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Occupancy")" class="">
                                <i class="fa a fa-users"></i>
                                <span>
                                    Occupancies
                                </span>
                            </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Apartment")" class="">
                                    <i class="fa fa-key"></i>
                                    <span>
                                        Apartments
                                    </span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="@Url.Action("Index", "EstateAgent")" class="">
                                    <i class="fa fa-plug"></i>
                                    <span>
                                        Estate Agents
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Landlord")" class="">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span>
                                        Landlords
                                    </span>
                                </a>
                            </li>                            
                            <li>
                                <a href="@Url.Action("Index", "Occupier")" class="">
                                    <i class="fa fa-user"></i>
                                    <span>
                                        Occupiers
                                    </span>
                                </a>
                            
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "OccupierType")" class="">
                                    <i class="fa fa-cog"></i>
                                    <span>
                                        Occupier Types
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "ApartmentType")" class="">
                                    <i class="fa fa-cog"></i>
                                    <span>
                                        Apartment Types
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Archives
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Apartment</a></li>
                            <li><a href="#">Apartment Type</a></li>
                            <li><a href="#">Estate Agent</a></li>
                            <li><a href="#">Landlord</a></li>
                            <li><a href="#">Landlord</a></li>
                            <li><a href="#">Occupier</a></li>
                            <li><a href="#">Occupier Type</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Reports
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Vehicles</a></li>
                            <li><a href="#">Residents</a></li>
                            <li><a href="#">Landlords</a></li>
                            <li><a href="#">Estate Agents</a></li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("About", "About", "Home")</li>

                </ul>
                @*<ul class="nav navbar-nav navbar-right">

                        <li>
                            <span class="search">
                                <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
                                <button type="submit" class="searchbutton btn-secondary btn-sm"><span class="fa fa-search" style="font-size:20px !Important;" aria-hidden="true"></span></button>
                            </span>
                        </li>
                        <li>
                            <a href="#menu-toggle" id="menu-toggle" style="float:right;">
                                <span class="fa fa-bars" style="font-size:20px !Important;" aria-hidden="true"></span>
                            </a>
                        </li>

                    </ul>*@


                @Html.Partial("_LoginPartial")
            </div>


        </div>
        </nav>
        <div class="container body-content" style="margin-left: 0px">
            @RenderBody()

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - WHMC Ltd</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/angularUIGrid")
        <script src="~/app/app.js"></script>
    <script src="~/Scripts/bootstrap-colorselector.min.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>
