﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li>
            <span class="search">
                <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
                <button type="submit" class="searchbutton btn-secondary btn-sm"><span class="fa fa-search" style="font-size:20px !Important;" aria-hidden="true"></span></button>
            </span>
        </li>
        <li>
            <a href="#menu-toggle" id="menu-toggle" style="float:right;">
                <span class="fa fa-bars" style="font-size:20px !Important;" aria-hidden="true"></span>
            </a>
        </li>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li><a id = "registerLink" href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a id = "loginLink" href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
