﻿#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 10px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 200px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
}

.search:hover input, .search input:focus {
    width: 200px;
    margin-left: 0px;
}

.searchbutton {
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius:1px;
    padding: 4px 5px;
    margin-right: 20px;
}


/* popover */
/*.cellToolTip {
    overflow: visible;
}


.tooltip {
  top: 0 !important;
}*/

.cellPopover {
    /*overflow: visible;*/
}
.iq-popover {
  z-index:9;
}

.red-text{
  color:red;
}

.your_modal {
    width: 800px;
    margin-left: -400px; 
 }

/* add estate agent form*/
.feedbackPadding{
    margin-right: 15px  !important;
}

.custom-model-header
{
    padding:20px 20px; 
    background-color:#e6e6e6 !important;
}

.custom-page-jumbotron-header
{
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-bottom: 10px !important;
    margin-top: 5px !important;
    min-height: 10px !important;
    width:95vw;
}

.help-block-text {

    font-family: "";
    color: #b94a48;
}

.help-block-dropdown{
    font-family: "";
    color: #b94a48;
    margin-top: 0px;
    margin-bottom: 10px;
    display: inline-block;
}

/* BOOTSTRAP */


/* change menu highlight colours */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color:lightgoldenrodyellow;
            color: black;
 }


/*@media (min-width: 1200px) {
  .container {
    max-width: 100%; 
  }*/
/* SIGN IN*/

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}