﻿


<div class="container">

    <!-- Modal -->
    <div class="modal" id="addEstateAgentModal" role="dialog">
        <div class="modal-dialog" style="width: 50%;">
            <form name="addForm" role="form" ng-submit="addEstateAgent()" novalidate>
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header custom-model-header" >
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="fa fa-plus-square"></span> Add a new estate agent</h4>
                    </div>

                    <div class="modal-body">

                        <div class="form-group row ">
                            <div class="col-xs-6" ng-class="{ 'has-error has-feedback' : addForm.name.$invalid && (addForm.name.$dirty || submitted), 'has-success has-feedback': addForm.name.$dirty && addForm.name.$valid }">
                                <label for="name">Name <span>&nbsp;</span> <span class=""></span></label>
                                <input type="text" class="form-control input-sm " id="name" name="name" ng-required="true" placeholder="Name" ng-model="form.name">

                                <span class="glyphicon glyphicon-remove form-control-feedback help-block feedbackPadding" ng-show="addForm.name.$error.required && (!addForm.name.$pristine || submitted)"></span>
                                <span class="glyphicon  help-block" ng-show="addForm.name.$error.required && (!addForm.name.$pristine || submitted)">Name is required</span>
                                <span class="glyphicon glyphicon-ok  form-control-feedback help-block feedbackPadding" ng-show="addForm.name.$valid && (addForm.name.$dirty || submitted)"></span>
                            </div>

                            <div class="col-xs-6">
                                <label for="ContactName">Contact Name <span>&nbsp;</span> <span class=""></span></label>
                                <input type="text" class="form-control input-sm" id="ContactName" placeholder="Contact Name" ng-model="form.contactName">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-6" ng-class="{ 'has-error has-feedback' : addForm.PhoneNumber.$invalid && (addForm.PhoneNumber.$dirty || submitted), 'has-success has-feedback': addForm.PhoneNumber.$dirty && addForm.PhoneNumber.$valid }">

                                <label for="PhoneNumber">Phone Number <span>&nbsp;</span> <span class=""></span></label>
                                <input type="text" class="form-control input-sm" id="PhoneNumber" ng-pattern="ph_numbr" name="PhoneNumber" placeholder="Phone Number" ng-model="form.phoneNumber">

                                <span class="glyphicon glyphicon-remove form-control-feedback help-block feedbackPadding" ng-show="addForm.PhoneNumber.$error.pattern && (!addForm.PhoneNumber.$pristine || submitted)"></span>
                                <span class="glyphicon  help-block" ng-show="addForm.PhoneNumber.$error.pattern && (!addForm.PhoneNumber.$pristine || submitted)">Phone Number is invalid</span>
                                <span class="glyphicon glyphicon-ok  form-control-feedback help-block feedbackPadding" ng-show="addForm.PhoneNumber.$valid && (addForm.PhoneNumber.$dirty || submitted)"></span>
                            </div>

                            <div class="col-xs-6" ng-class="{ 'has-error has-feedback' : addForm.Email.$invalid && (addForm.Email.$dirty || submitted), 'has-success has-feedback': addForm.Email.$dirty && addForm.Email.$valid }">
                                <label for="Email">Email <span>&nbsp;</span> <span class=""></span></label>
                                <input type="text" class="form-control input-sm" name="Email" ng-pattern="eml_add" id="Email" placeholder="Email" ng-model="form.email">

                                <span class="glyphicon glyphicon-remove form-control-feedback help-block feedbackPadding" ng-show="addForm.Email.$error.pattern && (!addForm.name.$pristine || submitted)"></span>
                                <span class="glyphicon  help-block" ng-show="addForm.Email.$error.pattern && (!addForm.Email.$pristine || submitted)">Email is invalid</span>
                                <span class="glyphicon glyphicon-ok  form-control-feedback help-block feedbackPadding" ng-show="addForm.Email.$valid && (addForm.Email.$dirty || submitted)"></span>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label for="Address">Address <span>&nbsp;</span> <span class=""></span></label>
                                <textarea class="form-control input-sm" id="Address" placeholder="Address" ng-model="form.address" rows="3"></textarea>
                            </div>
                        </div>

                        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                            <span ng-bind-html="alert.msg"></span>
                        </alert>

                        <div ng-show="saveFooterVisible" class="modal-footer">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                <button type="submit" class="btn btn-success  btn-primary .navbar-right"><span class="glyphicon glyphicon-off"></span> Save</button>
                            </div>
                        </div>

                        <div ng-hide="saveFooterVisible" class="modal-footer">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

