﻿

<div class="container">
    <div class="row">
        <div class="modal " id="confirmEstateAgentModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Estate Agent</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <p>Are you sure ?</p>
                        </div>

                        <div class="form-group">
                            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                                <span ng-bind-html="alert.msg"></span>
                            </alert>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div>
                            <button type="submit" ng-click="deleteEstateAgentYesClicked();" id="btnYes" class="btn btn-success  btn-primary .navbar-right"><span class="glyphicon glyphicon-ok"></span> Yes</button>
                            <button type="submit" id="btnNo" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>