﻿
<div class="container">

    <!-- Modal -->
    <div class="modal" id="editEstateAgentModal" role="dialog">
        <div class="modal-dialog" style="width: 50%;">
            <form name="editForm" role="form" ng-submit="updateEstateAgent()" novalidate>
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header custom-model-header" >
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="fa fa-plus-square"></span> Edit estate agent</h4>
                    </div>

                    <div class="modal-body">

                        <div class="form-group row ">
                            <div class="col-xs-6" ng-class="{ 'has-error has-feedback' : editForm.name.$invalid && (editForm.name.$dirty || submitted), 'has-success has-feedback': editForm.name.$dirty && editForm.name.$valid }">
                                <label for="name">Name <span>&nbsp;</span> <span class=""></span></label>
                                <input type="text" class="form-control input-sm " id="name" name="name" ng-required="true" placeholder="Name" ng-model="form.Name">
                                <span class="glyphicon glyphicon-remove form-control-feedback help-block feedbackPadding" ng-show="editForm.name.$error.required && (!editForm.name.$pristine || submitted)"></span>
                                <span class="glyphicon  help-block" ng-show="editForm.name.$error.required && (!editForm.name.$pristine || submitted)">Name is required</span>
                                <span class="glyphicon glyphicon-ok  form-control-feedback help-block feedbackPadding" ng-show="editForm.name.$valid && (editForm.name.$dirty || submitted)"></span>
                            </div>

                            <div class="col-xs-6">
                                <label for="ContactName">Contact Name <span>&nbsp;</span> <span class=""></span></label>
                                <input type="text" class="form-control input-sm" id="ContactName" placeholder="Contact Name" ng-model="form.ContactName">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-6" ng-class="{ 'has-error has-feedback' : editForm.PhoneNumber.$invalid && (editForm.PhoneNumber.$dirty || submitted), 'has-success has-feedback': editForm.PhoneNumber.$dirty && editForm.PhoneNumber.$valid }">

                                <label for="PhoneNumber">Phone Number <span>&nbsp;</span> <span class=""></span></label>
                                <input type="text" class="form-control input-sm" id="PhoneNumber" ng-pattern="ph_numbr" name="PhoneNumber" placeholder="Phone Number" ng-model="form.PhoneNumber">

                                <span class="glyphicon glyphicon-remove form-control-feedback help-block feedbackPadding" ng-show="editForm.PhoneNumber.$error.pattern && (!editForm.PhoneNumber.$pristine || submitted)"></span>
                                <span class="glyphicon  help-block" ng-show="editForm.PhoneNumber.$error.pattern && (!editForm.PhoneNumber.$pristine || submitted)">Phone Number is invalid</span>
                                <span class="glyphicon glyphicon-ok  form-control-feedback help-block feedbackPadding" ng-show="editForm.PhoneNumber.$valid && (editForm.PhoneNumber.$dirty || submitted)"></span>
                            </div>

                            <div class="col-xs-6" ng-class="{ 'has-error has-feedback' : editForm.Email.$invalid && (editForm.Email.$dirty || submitted), 'has-success has-feedback': editForm.Email.$dirty && editForm.Email.$valid }">
                                <label for="Email">Email <span>&nbsp;</span> <span class=""></span></label>
                                <input type="text" class="form-control input-sm" name="Email" ng-pattern="eml_add" id="Email" placeholder="Email" ng-model="form.Email">

                                <span class="glyphicon glyphicon-remove form-control-feedback help-block feedbackPadding" ng-show="editForm.Email.$error.pattern && (!editForm.name.$pristine || submitted)"></span>
                                <span class="glyphicon  help-block" ng-show="editForm.Email.$error.pattern && (!editForm.Email.$pristine || submitted)">Email is invalid</span>
                                <span class="glyphicon glyphicon-ok  form-control-feedback help-block feedbackPadding" ng-show="editForm.Email.$valid && (editForm.Email.$dirty || submitted)"></span>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label for="Address">Address <span>&nbsp;</span> <span class=""></span></label>
                                <textarea class="form-control input-sm" id="Address" placeholder="Address" ng-model="form.Address" rows="3"></textarea>
                            </div>
                        </div>

                        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                            <span ng-bind-html="alert.msg"></span>
                        </alert>

                        <div ng-show="saveFooterVisible" class="modal-footer">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                <button type="submit" class="btn btn-success  btn-primary .navbar-right"><span class="glyphicon glyphicon-off"></span> Save</button>
                            </div>
                        </div>

                        <div ng-hide="saveFooterVisible" class="modal-footer">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

