﻿
@{
    ViewBag.Title = "Index";
}

<div ng-controller="EstateAgentController">

    <div id="result"> @Html.Partial("~/Views/EstateAgent/_AddEstateAgent.cshtml")</div>
    <div id="result"> @Html.Partial("~/Views/EstateAgent/_EditEstateAgent.cshtml")</div>
    <div id="result"> @Html.Partial("~/Views/EstateAgent/_ConfirmEstateAgent.cshtml")</div>

    <div>
        <div class="jumbotron custom-page-jumbotron-header">
            <div class="col-sm-12 ">
                <div class="text-left">
                    <h4><span class="fa fa-plug"></span> Estate Agents<button type="button" class="btn btn-info btn-xs" style="float:right" ng-click="addEstateAgentClicked()" id="btnAddFilm">New Estate Agent <span class="fa fa-plus-square"></span></button></h4>
                </div>
            </div>
        </div>
    </div>

    <div ui-grid="estateagentGridOptions" id="estateagentGrid" ui-grid-pagination style="height:70vh; width:95vw;"
         ui-grid-resize-columns
         ui-grid-move-columns
         ui-grid-exporter
         ui-grid-selection
         ui-grid-pinning>
    </div>

</div>

@section scripts {
    <script src="~/app/controller/estateagentcontroller.js"></script>
    <script src="~/app/services/estateagentservice.js"></script>
}