﻿
<div class="container">
    <!-- Modal -->
    <div class="modal " id="myModal" role="dialog">
        <div class="modal-dialog " style="width: 80%;">

            <form name="addForm" role="form" novalidate ng-submit="addOccupancy()">
                <!-- Modal content-->

                <div class="modal-content">

                    <div class="modal-header custom-model-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="fa fa-user"></span> New Occupancy</h4>

                    </div>

                    <div class="modal-body" style="height:700px; overflow : auto;">

                        <div id="addTab" class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#1" data-toggle="tab">Occupancy</a>
                                </li>
                                <li>
                                    <a href="#2" data-toggle="tab">Other Occupiers</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content ">
                            
                            
                            <div class="tab-pane active" id="1">

                                <div class="well well-sm">
                                    <div class="form-group row">
                                        <div class="col-xs-3">
                                            <label for="dropdownApartment">Apartment No</label>
                                            <div class="dropdown">
                                                <button style="width:100%; text-align:left" class="btn btn-info dropdown-toggle btn-sm" type="button" id="dropdownApartment" data-toggle="dropdown" ng-required="true" aria-haspopup="true" aria-expanded="false">
                                                    {{selectedApartment}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li><a ng-repeat="item in apartments" ng-click="apartmentitemselected(item)" class="dropdown-item" href="#">{{item.ApartmentNo}}</a></li>
                                                </ul>
                                            </div>
                                            <span ng-show="selectedApartmentId == -1 && (submitted)" class="help-block-dropdown help-block">Apartment No is required.</span>
                                        </div>

                                        <div class="col-xs-3">
                                            <label for="dropdownApartmentType">Apartment Type</label>
                                            <div class="dropdown">
                                                <button style="width:100%; text-align:left" class="btn btn-secondary dropdown-toggle btn-sm" type="button" disabled id="dropdownApartmentType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{selectedApartmentType}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li><a ng-repeat="item in apartmenttypes" ng-click="apartmenttypeselected(item)" class="dropdown-item" href="#">{{item.Name}}</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-xs-3">
                                            <label for="FloorNo">Floor No <span>&nbsp;</span> <span class=""></span></label>
                                            <input type="text" class="form-control input-sm" id="FloorNo" placeholder="Floor No" ng-model="apartment.FloorNo" disabled>
                                        </div>

                                        <div class="col-xs-3">
                                            <label for="NoOfBedrooms">No of Bedrooms <span>&nbsp;</span> <span class=""></span></label>
                                            <input type="text" class="form-control input-sm" id="NoOfBedrooms" placeholder="Bedrooms" ng-model="apartment.NoOfBedrooms" disabled>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-3">
                                            <label for="Mobile">ParkingSpaceNo<span>&nbsp;</span><span class="fa fa-automobile"></span></label>
                                            <input type="text" class="form-control input-sm" id="ParkingSpaceNo" disabled placeholder="Parking Space No 1" ng-model="apartment.ParkingSpaceNo">
                                        </div>
                                        <div ng-if="selectedApartment >= getPenthouseNumbers()" class="col-xs-3">
                                            <label for="Mobile">ParkingSpaceNo2<span>&nbsp;</span><span class="fa fa-automobile"></span></label>
                                            <input type="text" class="form-control input-sm" id="ParkingSpaceNo 2" disabled placeholder="Parking Space No 2" ng-model="apartment.ParkingSpaceNo2">
                                        </div>
                                    </div>
                                </div>

                                <div class="well well-sm">
                                    <div class="form-group row">

                                        <div class="col-xs-3" ng-class="{ 'has-error has-feedback' : addForm.carreg1.$invalid && (addForm.carreg1.$dirty || submitted), 'has-success has-feedback': addForm.carreg1.$dirty && addForm.carreg1.$valid }">
                                            <label for="carreg1">Car Reg <span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                            <input type="text" class="form-control input-sm" id="carreg1" name="carreg1" placeholder="car registration 1" ng-maxlength="10" ng-model="vehicle1.Registration">
                                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block feedbackPadding" ng-show="addForm.carreg1.$valid && (addForm.carreg1.$dirty || submitted)"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback help-block feedbackPadding" ng-show="addForm.carreg1.$error.maxlength && (!addForm.carreg1.$pristine || submitted)"></span>
                                            <span class="glyphicon help-block help-block-text" ng-show="addForm.carreg1.$error.maxlength && (!addForm.carreg1.$pristine || submitted)">Car Reg cannot be more than 10 chars</span>
                                        </div>

                                        <div class="col-xs-3" ng-class="{ 'has-error has-feedback' : addForm.makemodel1.$invalid && (addForm.makemodel1.$dirty || submitted), 'has-success has-feedback': addForm.makemodel1.$dirty && addForm.makemodel1.$valid }">
                                            <label for="makemodel1">Make\Model <span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                            <input type="text" class="form-control input-sm" id="makemodel1" name="makemodel1" placeholder="make and model" ng-model="vehicle1.MakeModel">
                                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block feedbackPadding" ng-show="addForm.makemodel1.$valid && (addForm.makemodel1.$dirty || submitted)"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback help-block feedbackPadding" ng-show="addForm.makemodel1.$error.maxlength && (!addForm.makemodel1.$pristine || submitted)"></span>
                                            <span class="glyphicon help-block help-block-text" ng-show="addForm.makemodel1.$error.maxlength && (!addForm.makemodel1.$pristine || submitted)">Floor No cannot be more than 50 chars</span>
                                        </div>

                                        <div class="col-xs-3">
                                            <label for="carcolour1">Colour</label>

                                            <div class='input-group'>
                                                <input type="text" class="form-control input-sm" disabled id="carcolour11" placeholder="car colour" ng-model="vehicle1.Colour"> 
                                                <span class="input-group-addon" style="padding-top: 3px; padding-bottom:1px" >
                                                    <select id="colorselector_2" >
                                                        <option value="106" data-color="#A0522D">sienna</option>
                                                        <option value="47" data-color="#CD5C5C" selected="selected">indianred</option>
                                                        <option value="87" data-color="#FF4500">orangered</option>
                                                        <option value="17" data-color="#008B8B">darkcyan</option>
                                                        <option value="18" data-color="#B8860B">darkgoldenrod</option>
                                                        <option value="68" data-color="#32CD32">limegreen</option>
                                                        <option value="42" data-color="#FFD700">gold</option>
                                                        <option value="77" data-color="#48D1CC">mediumturquoise</option>
                                                        <option value="107" data-color="#87CEEB">skyblue</option>
                                                        <option value="46" data-color="#FF69B4">hotpink</option>
                                                        <option value="47" data-color="#CD5C5C">indianred</option>
                                                        <option value="64" data-color="#87CEFA">lightskyblue</option>
                                                        <option value="13" data-color="#6495ED">cornflowerblue</option>
                                                        <option value="15" data-color="#DC143C">crimson</option>
                                                        <option value="24" data-color="#FF8C00">darkorange</option>
                                                        <option value="78" data-color="#C71585">mediumvioletred</option>
                                                        <option value="123" data-color="#000000">black</option>
                                                        <option value="1" data-color="#ffffff">white</option>
                                                        <option value="2" data-color="#f2f2f2">silver</option>
                                                    </select>
                                                </span>
                                            </div>
                                            </div>
                                        <div class="col-xs-3">
                                            <label for="ParkingSpaceNo33">ParkingSpaceNo<span>&nbsp;</span><span class="fa fa-automobile"></span></label>
                                            <input type="text" class="form-control input-sm" id="ParkingSpaceNo33" disabled placeholder="Parking Space No 1" ng-model="vehicle1.ParkingSpaceNo">
                                        </div>

                                    </div>

                                    <div ng-if="selectedApartment >= getPenthouseNumbers()" class="form-group row">
                                        <div class="col-xs-3">
                                            <label for="carreg2">Car Reg <span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                            <input type="text" class="form-control input-sm" id="carreg2" placeholder="car registration 2" ng-model="vehicle2.Registration">
                                        </div>

                                        <div class="col-xs-3">
                                            <label for="makemodel2">Make / Model<span>&nbsp;</span><span class="fa fa-phone"></span></label>
                                            <input type="text" class="form-control input-sm" id="makemodel2" placeholder="make and model" ng-model="vehicle2.MakeModel">
                                        </div>

                                        <div class="col-xs-3">
                                            <label for="carcolour2">Colour<span>&nbsp;</span><span class="fa fa-phone"></span></label>
                                            <input type="text" class="form-control input-sm" id="carcolour2" placeholder="car colour" ng-model="vehicle2.Colour">
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="ParkingSpaceNo34">ParkingSpaceNo<span>&nbsp;</span><span class="fa fa-automobile"></span></label>
                                            <input type="text" class="form-control input-sm" id="ParkingSpaceNo34" disabled placeholder="Parking Space No 1" ng-model="vehicle2.ParkingSpaceNo">
                                        </div>
                                    </div>

                                </div>

                                <div class="well well-sm">

                                    <div class="form-group row">

                                        <div class="col-xs-3" ng-class="{ 'has-error  has-feedback' : addForm.dropdownOccupierType.$invalid && (addForm.dropdownOccupierType.$dirty || submitted), 'has-success has-feedback': addForm.dropdownOccupierType.$dirty && addForm.dropdownOccupierType.$valid }">
                                            <label for="dropdownOccupierType">Occupier Type</label>
                                            <div class="dropdown">
                                                <button style="width:100%; text-align:left" class="btn btn-secondary dropdown-toggle btn-sm" type="button" ng-required="true" name="dropdownOccupierType" id="dropdownOccupierType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{selectedOccupierType}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li><a ng-repeat="item in occupiertypes" ng-click="occupiertypeselected(item)" class="dropdown-item" href="#">{{item.Name}}</a></li>
                                                </ul>
                                            </div>
                                            <span ng-show="selectedOccupierTypeId == -1 && (submitted)" style="" class="help-block-dropdown">Occupier Type is required.</span>
                                        </div>

                                        <div class="col-xs-3" ng-class="{ 'has-error  has-feedback' : addForm.dateofoccupation.$invalid && (addForm.dateofoccupation.$dirty || submitted), 'has-success has-feedback': addForm.dateofoccupation.$dirty && addForm.dateofoccupation.$valid }">
                                            <label for="dateofoccupation">Date of Occupation <span>&nbsp;</span> <span class="fa fa-calendar"></span></label>
                                            <div class='input-group date'>
                                                <input type='text' class="form-control input-sm" name="dateofoccupation" id="dateofoccupation" placeholder="DD/MM/YYYY" ng-required="true" ng-model="form.DateOfOccupation" data-date-time-picker />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block" style="padding-left:25px !important" ng-show="addForm.dateofoccupation.$valid && (addForm.dateofoccupation.$dirty || submitted)"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback help-block" style="padding-left:25px !important" ng-show="addForm.dateofoccupation.$error.required && (!addForm.dateofoccupation.$pristine || submitted)"></span>
                                            <span class="glyphicon help-block help-block help-block-text" ng-show="addForm.dateofoccupation.$error.required && (!addForm.dateofoccupation.$pristine || submitted)">Date is required</span>
                                        </div>

                                        <div class="col-xs-3">
                                            <label for="leavingDate">Leaving Date <span>&nbsp;</span> <span class="fa fa-calendar"></span></label>
                                            <div class='input-group date' id='leavingDate'>
                                                <input type='text' class="form-control input-sm" disabled placeholder="DD/MM/YYYY" ng-model="form.LeavingDate" data-date-time-picker />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div ng-if="selectedOccupierTypeId == 1" class="well well-sm">
                                    <div class="form-group row">
                                        <div ng-show="estateAgentDropDownVisible" class="col-xs-2">
                                            <label for="dropdownEstateAgent">Estate Agent</label>
                                            <div class="dropdown">
                                                <button style="width:100%; text-align:left" class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownEstateAgent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{selectedEstateAgent}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li><a ng-repeat="item in estateagents" ng-click="estateagentselected(item)" class="dropdown-item" href="#">{{item.Name}}</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div ng-show="showEstateAgentFields == true">
                                            <div class="col-xs-2">
                                                <label for="EstateAgentName">Name<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" ng-readonly="addNewEstateAgent == false" class="form-control input-sm" id="EstateAgentName" placeholder="Name of Company" ng-model="form.estateAgent.Name">
                                            </div>
                                            j
                                            <div class="col-xs-2">
                                                <label for="EstateAgentContactName">Contact Name<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" ng-readonly="addNewEstateAgent == false" class="form-control input-sm" id="EstateAgentContactName" placeholder="Contact Name" ng-model="form.estateAgent.ContactName">
                                            </div>
                                            <div class="col-xs-2">
                                                <label for="EstateAgentPhoneNumber">Phone Number<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" ng-readonly="addNewEstateAgent == false" class="form-control input-sm" id="EstateAgentPhoneNumber" placeholder="Phone Number" ng-model="form.estateAgent.PhoneNumber">
                                            </div>
                                            <div class="col-xs-2">
                                                <label for="EstateAgentEmail">Email<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" ng-readonly="addNewEstateAgent == false" class="form-control input-sm" id="EstateAgentEmail" placeholder="Email" ng-model="form.estateAgent.Email">
                                            </div>
                                            <div class="col-xs-2">
                                                <label for="EstateAgentAddress">Address<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" ng-readonly="addNewEstateAgent == false" tooltip="{{form.estateAgent.Address}}" class="form-control input-sm" id="EstateAgentAddress" placeholder="Address" ng-model="form.estateAgent.Address">
                                            </div>
                                            <div ng-show="addNewEstateAgent == true" style="margin-top:25px;" class="col-xs-2  pull-left">
                                                <button type="button" ng-click="estateagentselectedCancel()" class="btn btn-danger btn-default btn-sm"><span class="fa fa-close"></span> Cancel</button>
                                                <button type="button" ng-click="estateagentselectedApply()" class="btn btn-success  btn-primary btn-sm"><span class="fa fa-check"></span> Apply</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <div ng-show="landlordDropDownVisible" class="col-xs-2">
                                            <label for="dropdownLandlord">Landlord</label>
                                            <div class="dropdown">
                                                <button style="width:100%; text-align:left" class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownLandlord" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{selectedLandlord}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li><a ng-repeat="item in landlords" ng-click="landlordselected(item)" class="dropdown-item" href="#">{{item.Name}}</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div ng-show="showLandlordFields == true">
                                            <div class="col-xs-2">
                                                <label for="LandlordName">Name<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" ng-readonly="addNewLandlord == false" class="form-control input-sm" id="LandlordName" placeholder="Name of Landlord" ng-model="form.landlord.Name">
                                            </div>

                                            <div class="col-xs-2">
                                                <label for="LandlordMobile">Mobile<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" ng-readonly="addNewLandlord == false" class="form-control input-sm" id="LandlordMobile" placeholder="Mobile Number" ng-model="form.landlord.Mobile">
                                            </div>
                                            <div class="col-xs-2">
                                                <label for="LandlordMobile2">Mobile or Landline<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" ng-readonly="addNewLandlord == false" class="form-control input-sm" id="LandlordMobile2" placeholder="Landline or Mobile" ng-model="form.landlord.MobileOrLandline">
                                            </div>
                                            <div class="col-xs-2">
                                                <label for="LandlordEmail">Email<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" ng-readonly="addNewLandlord == false" class="form-control input-sm" id="LandlordEmail" placeholder="Email" ng-model="form.landlord.Email">
                                            </div>
                                            <div class="col-xs-2">
                                                <label for="LandlordAddress">Address<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" ng-readonly="addNewLandlord == false" tooltip="{{form.landlord.Address}}" class="form-control input-sm" id="LandlordAddress" placeholder="Address" ng-model="form.landlord.Address">
                                            </div>
                                            <div ng-show="addNewLandlord == true" style="margin-top:25px;" class="col-xs-2  pull-left">
                                                <button type="button" ng-click="landlordselectedCancel()" class="btn btn-danger btn-default btn-sm"><span class="fa fa-close"></span> Cancel</button>
                                                <button type="button" ng-click="landlordselectedApply()" class="btn btn-success  btn-primary btn-sm"><span class="fa fa-check"></span> Apply</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane" id="2">

                                <div class="well well-sm">

                                    <div class="form-group row">

                                        <div class="col-xs-3 ">
                                            <label for="Firstname1">Firtname <span>&nbsp;</span> <span class="fa fa-user-plus"></span></label>
                                            <input type="text" class="form-control input-sm" id="Firstname1" placeholder="Occupier Firstname" ng-model="occupier.Firstname">
                                        </div>

                                        <div class="col-xs-3">
                                            <label for="Surname1">Surname <span>&nbsp;</span> <span class="fa fa-user-plus"></span></label>
                                            <input type="text" class="form-control input-sm" id="Surname1" placeholder="Occupier Surname" ng-model="occupier.Surname">
                                        </div>
                                        <div class="col-xs-3 form-check">
                                            <label class="form-check-label" style="margin-top: 27px" for="IsPrimary1">Is Primary <span>&nbsp;</span></label>
                                            <input class="form-check-input" type="checkbox" id="IsPrimary1" placeholder="Is Primary" ng-model="occupier.IsPrimary">
                                        </div>

                                    </div>

                                    <div class="form-group row">

                                        @*<div class="col-xs-3">
                                                <label for="Email">Email<span>&nbsp;</span><span class="fa fa-envelope"></span></label>
                                                <input type="text" class="form-control input-sm" id="Email" placeholder="Email" ng-model="occupier.Email">
                                            </div>*@

                                        <div class="col-xs-3" ng-class="{ 'has-error has-feedback' : addForm.Email.$invalid && (addForm.Email.$dirty || submitted), 'has-success has-feedback': addForm.Email.$dirty && addForm.Email.$valid }">
                                            <label for="Email">Email <span>&nbsp;</span> <span class=""></span></label>
                                            <input type="text" class="form-control input-sm" name="Email" ng-pattern="eml_add" id="Email" placeholder="Email" ng-model="occupier.email">

                                            <span class="glyphicon glyphicon-remove form-control-feedback help-block feedbackPadding" ng-show="addForm.Email.$error.pattern && (!addForm.name.$pristine || submitted)"></span>
                                            <span class="glyphicon  help-block" ng-show="addForm.Email.$error.pattern && (!addForm.Email.$pristine || submitted)">Email is invalid</span>
                                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block feedbackPadding" ng-show="addForm.Email.$valid && (addForm.Email.$dirty || submitted)"></span>
                                        </div>

                                        @*<div class="col-xs-3">
                                                <label for="Mobile">Mobile<span>&nbsp;</span><span class="fa fa-mobile-phone"></span></label>
                                                <input type="text" class="form-control input-sm" id="Mobile" placeholder="Mobile" ng-model="occupier.Mobile">
                                            </div>*@

                                        <div class="col-xs-3" ng-class="{ 'has-error has-feedback' : addForm.PhoneNumber.$invalid && (addForm.PhoneNumber.$dirty || submitted), 'has-success has-feedback': addForm.PhoneNumber.$dirty && addForm.PhoneNumber.$valid }">

                                            <label for="Mobile">Mobile <span>&nbsp;</span> <span class=""></span></label>
                                            <input type="text" class="form-control input-sm" id="Mobile" ng-pattern="ph_numbr" name="Mobile" placeholder="Mobile" ng-model="occupier.Mobile">

                                            <span class="glyphicon glyphicon-remove form-control-feedback help-block feedbackPadding" ng-show="addForm.Mobile.$error.pattern && (!addForm.Mobile.$pristine || submitted)"></span>
                                            <span class="glyphicon  help-block" ng-show="addForm.Mobile.$error.pattern && (!addForm.Mobile.$pristine || submitted)">Mobile Number is invalid</span>
                                            <span class="glyphicon glyphicon-ok  form-control-feedback help-block feedbackPadding" ng-show="addForm.Mobile.$valid && (addForm.Mobile.$dirty || submitted)"></span>
                                        </div>

                                        <div class="col-xs-3">
                                            <label for="Landline">Mobile or Landline<span>&nbsp;</span><span class="fa fa-phone"></span></label>
                                            <input type="text" class="form-control input-sm" id="Landline" placeholder="Mobile or Landline" ng-model="occupier.MobileOrLandline">
                                        </div>

                                        <div ng-if="showDoneButton == false" class="col-xs-3">
                                            <button type="button" ng-click="addOccupierSelected()" style="margin-top:23px; margin-left:10px" class="btn btn-success  btn-primary .navbar-right btn-sm"><span class="fa fa-check"></span> Add</button>
                                            <button type="button" ng-click="clearOccupierSelected()" style="margin-top:23px" class="btn btn-danger btn-default .navbar-right btn-sm"><span class="fa fa-close"></span> Clear</button>
                                        </div>

                                        <div ng-if="showDoneButton == true" class="col-xs-3">
                                            <button type="button" ng-click="doneOccupierSelected()" style="margin-top:23px" class="btn btn-success btn-default .navbar-right btn-sm"><span class="fa fa-check"></span> Done</button>
                                        </div>

                                    </div>

                                </div>

                                <div ui-grid="addOccupancyGridOptions" id="occupancyGrid" ui-grid-pagination style="height:30vh; width:76vw;"
                                     ui-grid-resize-columns
                                     ui-grid-move-columns
                                     ui-grid-selection
                                     ui-grid-pinning>
                                </div>

                            </div>

                        </div>


                    </div>

                    <div style="margin: 0px 13px 0px 13px">
                        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                            <span ng-bind-html="alert.msg"></span>
                        </alert>

                    </div>


                    <div ng-show="saveFooterVisible" class="modal-footer">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            <button type="submit" class="btn btn-success  btn-primary .navbar-right"><span class="glyphicon glyphicon-off"></span> Save</button>
                        </div>
                    </div>

                    <div ng-hide="saveFooterVisible" class="modal-footer">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-danger btn-default .navbar-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>